<!-- ////////////////// FOOTER ///////////////// -->

<div id="footer">

  <div id="footer-box-container">

    <div class="widget footer-box equalize2 rounded-10">
      <div class="pad">
        <h2>Статьи</h2>
        <ul class="jaybich-recent-posts">
          <li>
            <a href="learning-english-online.html" title="Можно ли выучить английский язык по интернету?">
              <span class="post-title">
                Можно ли выучить английский язык по интернету?
              </span>
              <span class="post-date">
                Наш личный опыт
              </span>
            </a>
          </li>
          <li>
            <a href="how-to-choose-school.html" title="Как выбрать курсы английского языка?">
              <span class="post-title">
                Как выбрать курсы английского?
              </span>
              <span class="post-date">
                Секреты и подводные камни
              </span>
            </a>
          </li>
        </ul>
      </div>
      <!-- .pad (end) -->
    </div>

    <div class="widget footer-box-vk equalize2 rounded-10">
      <div class="pad">
        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {
            mode: 0,
            width: "400",
            height: "250",
            color1: 'FFFFFF',
            color2: '2B587A',
            color3: '5B7FA6'
          }, 68465145);
        </script>
      </div>
      <!-- .pad (end) -->
    </div>

    <div class="widget footer-box equalize2 rounded-10">
      <div class="pad">
        <h2>О сайте</h2>
        <p>Rostov-English.ru - это надёжный источник информации для людей, желающих изучать английский язык в Ростове-на-Дону. На сайте собраны актуальные предложения всех ключевых школ, работающих в Ростове. Вам остается только выбрать подходящую и записаться на пробный урок. Приятной учёбы!</p>
        <strong>Поделитесь сайтом с друзьями:</strong>
        <div class="pluso" data-background="transparent" data-description="Каталог курсов английского языка в Ростове-на-Дону. Выбери лучшие и запишись не бесплатный урок. #Ростов" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,moimir" data-title="Английский язык в Ростове-на-Дону" data-url="http://rostov-english.ru"></div>
      </div>
      <!-- .pad (end) -->
    </div>

    <div class="clear"></div>
  </div>
  <!-- #footer-box-container (end) -->

  &copy;2014
  <a href="http://www.rostov-english.ru">Rostov-English</a>
  //
  <a href="mailto:info@rostov-english.ru?Subject=Заявка%20на%20добавление%20курсов&body=Название:%0AОписание:%0AСайт:%0AЦены:%0A%0AНе%20забудьте%20прикрепить%20логотип." onclick="yaCounter24370156.reachGoal('FOOTER-PARTNER'); return true;">Стать партнёром</a>

</div>
<!-- #footer (end) -->

<noscript>
  <div>
    <img alt="" src="//mc.yandex.ru/watch/24370156" style="position:absolute; left:-9999px;"/>
  </div>
</noscript>
<!-- ////////////////// FOOTER ///////////////// -->
