<div id="header-inner">

  <a href="index.html">
    <h1><img id="logo" src="images/logo-icon.png" width="50px">Курсы Английского в Ростове</h1>
  </a>

  <!-- ////////////////// SOCAIL SHIT ///////////////// -->
  <div id="openCloseIdentifier" style="display: block;"></div>
  <div id="social" style="top:0px;">
    <div class="ie6" id="social-content">

      <script type="text/javascript">
        (function() {
          if (window.pluso)
            if (typeof window.pluso.start == "function")
              return;
        if (window.ifpluso == undefined) {
            window.ifpluso = 1;
            var d = document,
              s = d.createElement('script'),
              g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol
              ? 'https'
              : 'http') + '://share.pluso.ru/pluso-like.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
          }
        })();
      </script>
      <div class="pluso" data-background="transparent" data-description="Каталог
              курсов английского языка в Ростове-на-Дону. Выбери лучшие и запишись не бесплатный урок. #Ростов" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,evernote,moimir" data-title="Английский язык в Ростове-на-Дону" data-url="http://rostov-english.ru"></div>

    </div>
    <!-- #social-content (end) -->
    <div class="clear"></div>
    <div id="social-tab">
      <a class="btn-slide ie6 active" href="javascript:void(0);" title="Connect With Us"></a>
    </div>
    <!-- #social-tab (end) -->
  </div>
  <!-- #social (end) -->
  <!-- ////////////////// SOCAIL SHIT ///////////////// -->

</div>
<!-- #header-inner (end) -->

<div id="menu-wrapper">
  <ul id="menu">
    <li class="menu-home">
      <a href="index.html" title="">На главную</a>
    </li>
    <li>
      <a href="index.html" title="">Главная</a>
    </li>
    <li>
      <a href="#" title="">Школы</a>
      <ul>
        <li>
          <a href="express-lingua.html" title="">Express Lingua</a>
        </li>
        <li>
          <a href="context.html" title="">Контекст</a>
        </li>
        <li>
          <a href="pilot.html" title="">Пилот</a>
        </li>
        <li>
          <a href="language-link.html" title="">Language Link</a>
        </li>
        <li>
          <a href="planetlanguages.html" title="">Планета языков</a>
        </li>
        <!-- <li><a href="english-school.html" title="">English First</a></li> -->
        <li>
          <a href="perfect.html" title="">Совершенство</a>
        </li>
        <li>
          <a href="greenwich.html" title="">Greenwich Club</a>
        </li>
        <li>
          <a href="royal-school.html" title="">Royal School</a>
        </li>
        <li>
          <a href="skillset.html" title="">SkillSet</a>
        </li>
        <li>
          <a href="easy-english.html" title="">Easy English</a>
        </li>
        <li>
          <a href="intense.html" title="">InTense</a>
        </li>
        <li>
          <a href="ispeak.html" title="">iSpeak</a>
        </li>
        <li>
          <a href="old-school.html" title="">Old School</a>
        </li>
        <li>
          <a href="sovremennik.html" title="">Современник</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="how-to-choose-school.html" onclick="yaCounter24370156.reachGoal('MENU-HOWTO'); return true;" title="Как выбрать курсы английского языка?">Как выбрать?</a>
    </li>
    <li>
      <a href="learning-english-online.html" onclick="yaCounter24370156.reachGoal('MENU-ONLINE'); return true;" title="Обучение английскому по интернету">On-Line обучение</a>
    </li>
    <li>
      <a href="http://ad.admitad.com/goto/f1271339ea8f24aa6bb8c814d4b7c0/" onclick="yaCounter24370156.reachGoal('MENU-TEST-LEO'); return true;" title="Узнай свой уровень английского">Тест на знание языка</a>
    </li>
    <li>
      <a href="perfect.html" onclick="yaCounter24370156.reachGoal('MENU-TOEFL-PERFECT'); return true;" title="Сдать экзамен TOEFL/IELTS в Ростове">Экзамены TOEFL/IELTS</a>
    </li>
  </ul>
</div>
<!-- #menu-wrapper (end) -->
